<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximun-scale=1.0, minimum-scale=1.0">
    {% block meta_tag %}{% endblock %}
    <link rel="stylesheet" href="{% static 'css/semantic.css' %}">
    {% block css %}{% endblock %}
    <title>
      {% block title %}IT学習ちゃんねる{% endblock %}
    </title>
  </head>
  <body>
    <div class="ui stackable inverted menu">
      <a href="{% url 'base:top' %}" class="header item">IT学習ちゃんねる</a>
      <a href="{% url 'base:about' %}" class="item">このサイトはなに？</a>
      <a class="item" href="{% url 'thread:create_topic' %}"></a>
      <div class="right minu">
        <a class="item">Log in</a>
        <a class="item">Sign up</a>
      </div>
    </div>
    <div class="ui container" style='min-height:100vh;'>
      {% block content %}
      {% endblock %}
    </div>
    <div class="ui inverted stackable footer segment">
      <div class="ui container certer aligned">
        <div class="ui horizontal inverted small divided link list">
          <a href="{% url 'base:top' %}" class="item">©️　2019 IT 学習ちゃんねる（仮）</a>
          <a href="{% url 'base:terms' %}" class="item">利用規約</a>
          <a href="{% url 'base:policy' %}" class="item">プライバシーポリシー</a>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="{% static 'js/semantic.js' %}"></script>
  {% block js %}{% endblock %}
  </body>
</html>
